.contact-card {
  position: relative;
  display: inline-block;
}

.profile-picture {
  width: 200px; /* adjust the size as needed */
  height: auto;
}

.contact-info {
  position: absolute;
  bottom: 0; /* initially hidden at the bottom */
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgb(39, 39, 39);
  color: white;
  overflow: hidden;
  transition: height 0.9s ease-in-out;
}

.contact-card:hover .contact-info {
  height: 100%; /* slide the contact info up to cover the picture */
  padding: 10px;
}
