doctype html
html
  head
    title Cost Estimate Form
    script.
      document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('loadDataButton').addEventListener('click', function() {
          fetch('http://localhost:4004/api/project/My%20Building%20in%20Summit')
            .then(function(response) {
              return response.json();
            })
            .then(function(data) {
              document.getElementById('projectName').textContent = data[0].projectName;
              document.getElementById('area').textContent = data[0].builtUpArea;
              document.getElementById('costEstimate').textContent = data[0].costEstimate;
              document.getElementById('builtUpArea').textContent = data[0].builtUpArea;
              document.getElementById('aboveGroundFloor').textContent = data[0].aboveGroundFloor;
              document.getElementById('belowGroundFloor').textContent = data[0].belowGroundFloor;
              document.getElementById('floorFinishingType').textContent = data[0].floorFinishingType;
              document.getElementById('carpentryAndJoinery').textContent = data[0].carpentryAndJoinery;
              document.getElementById('roofingMaterial').textContent = data[0].roofingMaterial;
              document.getElementById('HVACSystem').textContent = data[0].HVACSystem;
              document.getElementById('fireProtectionSystem').textContent = data[0].fireProtectionSystem;
              document.getElementById('buildingType').textContent = data[0].buildingType;
              document.getElementById('sanitaryFixtures').textContent = data[0].sanitaryFixtures;
              document.getElementById('electricalMaterial').textContent = data[0].electricalMaterial;
            })
            .catch(function(error) {
              console.log('Error:', error);
            });
        });
      })

  body
    button#loadDataButton Load Data
    form#projectForm
      h1 Cost Estimate
      p Project Name: #[span#projectName]
      p The area is: #[span#area] and the cost estimate is: #[span#costEstimate]
      p Built-up Area: #[span#builtUpArea] sqm
      p Above Ground Floor: #[span#aboveGroundFloor] floors
      p Below Ground Floor: #[span#belowGroundFloor] floors
      p Floor Finishing Type: #[span#floorFinishingType]
      p Carpentry And Joinery: #[span#carpentryAndJoinery]
      p Roofing Material: #[span#roofingMaterial]
      p HVAC System: #[span#HVACSystem]
      p Fire Protection System: #[span#fireProtectionSystem]
      p Building Type: #[span#buildingType]
      p Sanitary Fixtures: #[span#sanitaryFixtures]
      p Electrical Material: #[span#electricalMaterial]