<!DOCTYPE html>
<html>
<head>
	<title>Welcome to Building Cost Estimation</title>
	<link rel="stylesheet" href="../css/home.css">
</head>
<body>
	<header>
		<nav>
			
			<ul>
				<a href="/"><img src="../images/logo.png" alt="logo"></a>
				<h1>MEE Cost Estimation</h1>
				<li><a href="/">Home</a></li>
				<li><a href="#abouteUs">About Us</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
			<ul>
				<li><a href="/login" class="myButton">Login</a></li>
				<li><a href="/createUser" class="myButton2">Create Account</a></li>
			</ul>
		</nav>
	</header>
	<div class="aboute">
		<div class="container">
			<h2 class="text-center">Why Building Estimator?</h2>
			<div class="row">
				<div class="col-md-4">
				<div class="card">
					<div class="card-body">
					<h5 class="card-title">Accurate Cost Estimates</h5>
					<p class="card-text">Our Building Estimator utilizes advanced algorithms to provide accurate cost estimates based on the provided information. Say goodbye to manual calculations and guesswork!</p>
					</div>
				</div>
				</div>
				<div class="col-md-4">
				<div class="card">
					<div class="card-body">
					<h5 class="card-title">Time Saving</h5>
					<p class="card-text">With our Estimator, you can quickly get an estimate of the construction costs without spending hours on detailed calculations. Save time and focus on other important aspects of your project.</p>
					</div>
				</div>
				</div>
				<div class="col-md-4">
				<div class="card">
					<div class="card-body">
					<h5 class="card-title">User-Friendly Interface</h5></h2>
					<p class="card-text">Our user-friendly interface makes it easy for anyone to use the Estimator. Simply input the required information, and you'll receive an instant cost estimate. No technical expertise required!</p>
					</div>
				</div>
				</div>
			</div>
			<a href="/createUser" class="myButton3">Create Account</a>
		</div>
		<div class= "video">
			<img src="../images/video.jpg" alt="aboute">
		</div>
	</div>
	<div class="for">
		<h1>BUILDING ESTIMATOR FOR</h1>
		<div class="forlist">
			<div class="for1">
				<div class="image-container">
					<img src="../images/building.png" alt="aboute">
				</div>
				<h3>HOME BUILDERS</h3>
					<div>
						<a href="#" class="no-underline">Learn More</a>
					</div>
			</div>
			<div class="for2">
				<div class="image-container">
					<img src="../images/contractor.png" alt="aboute">
				</div>
				<h3>CONTRACTORS</h3>
					<div>
						<a href="#" class="no-underline">Learn More</a>
					</div>
			</div>
			<div class="for3">
				<div class="image-container">
					<img src="../images/investment.png" alt="aboute">
				</div>
				<h3>REAL ESTATE DEVELOPER</h3>
					<div>
						<a href="#" class="no-underline">Learn More</a>
					</div>
			</div>
			<div class="for4">
				<div class="image-container">
					<img src="../images/bank.png" alt="aboute">
				</div>
				<h3>BANK</h3>
					<div>
						<a href="#" class="no-underline">Learn More</a>
					</div>
			</div>
		</div>
		</div>
		<div>
		<div class="steps">
			<h1>OK LETS DO THIS, GO AHAID AND FOLLOW<br>THESE STEPS</h1>
			<div class="stepslist">
				<div class="step1">
					<a href="/create"><a href="/login"><img src="../images/step1.png" alt="aboute"></a>
					<div class="how">
						<a href="/createUser"><h1>STEP ONE, CREATE ACCOUNT</h1><a>
						<h5>Unlock precise cost estimates for your building project! Simply provide your email and start the seamless estimation process. No more guesswork – get accurate projections and build with confidence. Join now and turn your dream into reality! </h5>
					</div>
				</div>
				<div class="step2">
					<div class="how">
						<h1>STEP TWO, FILL IN YOUR PROJECT INFORMATIONS</h1>
						<h5>Now that you've entered the estimation process, it's time to bring your project to life. Provide the essential details of your building project, such as the type of construction, size, quality grades, and any specific requirements. This information will enable us to tailor the cost estimate specifically to your project's needs. Let's move forward together and make your vision a reality! </h5>
					</div>
					<a href="/createUser"><img src="../images/step2.png" alt="aboute"></a>
				</div>
				<div class="step3">
					<a href="/createUser"><img src="../images/step3.png" alt="aboute"></a>
					<div class="how">
						<h1>STEP THREE, RECEIVE YOUR COST ESTIMATION</h1>
						<h5>Congratulations! This is the final step where you'll receive your project cost estimation. Sit back and let our advanced algorithms crunch the numbers based on your project information. In no time, you'll have a detailed and accurate cost estimate at your fingertips. Get ready to take the next big leap towards bringing your project to life with confidence and clarity. Your cost estimation awaits you! </h5>
					<div>
				</div>
			</div>
		</div>
		<div id='abouteUs' class='abouteUs'>
			<h1>ABOUT US</h1>
			<div class="cards">
				<div class="profile-card">
					<img src="../images/eyob.jpg" alt="Person 1">
					<h2>Eyob Zewdu</h2>
					<h3>Web Developer</h3>
					<h4>Skills:</h4>
					<ul>
					<li>HTML</li>
					<li>CSS</li>
					<li>JavaScript</li>
					<li>node.js</li>
					</ul>
					<h4>Tasks Covered:</h4>
					<ul>
					<li>user authentication</li>
					<li>Database management</li>
					<li>ORM management</li>
					<li>API development</li>
					</ul>
				</div>

				<div class="profile-card">
					<img src="../images/elphaz.jpg" alt="Person 2">
					<h2>Elphaz Shiferaw</h2>
					<h3>Web Developer</h3>
					<h4>Skills:</h4>
					<ul>
					<li>HTML</li>
					<li>CSS</li>
					<li>JavaScript</li>
					<li>node.js</li>
					</ul>
					<h4>Tasks Covered:</h4>
					<ul>
					<li>Website design</li>
					<li>Form development</li>
					<li>User interface development</li>
					<li>Logo design</li>				
					</ul>
				</div>

				<div class="profile-card">
					<img src="../images/My_pic.jpg" alt="Person 3">
					<h2>Meacha Teshome</h2>
					<h3>Web Developer</h3>
					<h4>Skills:</h4>
					<ul>
					<li>HTML</li>
					<li>CSS</li>
					<li>JavaScript</li>
					<li>node.js</li>
					<li>Leadership</li>
					<li>Communication</li>
					<li>Organization</li>		
					</ul>
					<h4>Tasks Covered:</h4>
					<ul>
					<li>Task delegation</li>
					<li>Estimation algorithm</li>
					<li>Database management</li>
					<li>Web scraping</li>
					<li>Project manager</li>
					</ul>
				</div>
			</div>
		</div>
		<div id='contact'class="contact">
			<h1>CONTACT US</h1>
			<div class="contactlist">
				<div class="contact-card">
					<img src="../images/eyob.jpg" alt="Person" class="profile-picture">
					<div id="contact-info">
						<h3>Eyob Zewdu</h3>
						<p>Email: Jobzadedany@gmail.com</p>
						<p>Phone: +251921640107</p>
						<a href="https://www.linkedin.com/in/eyob-zewdu-283581b0/"><img src="../images/linkedin.png" alt="linkedin"></a>
						<a href="https://github.com/Jobzade"><img src="../images/github.png" alt="github"></a>
					</div>
				</div>
				<div class="contact-card">
					<img src="../images/elphaz.jpg" alt="Person" class="profile-picture">
					<div id="contact-info1">
						<h3>Elphaz Shiferaw</h3>
						<p>Email: meachattd@gmail.com</p>
						<p>Phone: +251910151464</p>
						<a href="https://www.linkedin.com/in/elphazshiferaw/"><img src="../images/linkedin.png" alt="linkedin"></a>
						<a href="https://github.com/Elphaz"><image src="../images/github.png" alt="github"></a>
					</div>
				</div>				
				<div class="contact-card">
					<img src="../images/My_pic.jpg" alt="Person" class="profile-picture">
					<div id="contact-info2">
						<h3>Meacha Teshome</h3>
						<p>Email: meachattd@gmail.com</p>
						<p>Phone: +251909068750</p>
						<a href="linkedin.com/in/meacha-teshome"><img src="../images/linkedin.png" alt="linkedin"></a>
						<a href="https://www.linkedin.com/in/meacha-teshome/"><img src="../images/github.png" alt="github"></a>
					</div>
				</div>
			</div>
	<footer>
		<p>&copy; 2023 Building Cost Estimation. All rights reserved.</p>
	</footer>
</body>
</html>