doctype html
html
  head
    title Building Cost Estimation
    link(rel='stylesheet', href='../css/success.css')

  body
    header
      nav
        ul
          a(href='/')
            img(src='../images/logo.png', alt='logo')
          li
            a(href='/') Home
          li
            a(href='#abouteUs') About Us
          li
            a(href='#contact') Contact
    h1 Success
    p Email sent successfully.
    p Please check your email to get your password and login.
    p If you have not received an email, please check your spam folder.
    a(href='/login', class='myButton3') Login
    footer
      p &copy; 2023 Building Cost Estimation