header {
	background-color: white;
	color: #020202;
	padding: 5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header img {
    width: fit-content;
    height: 100px;
    margin-right: 80px;
}

header nav {
    list-style: none;
    justify-content: space-between;
    align-items: center;
    display: flex;
    color: #070505;
    text-decoration: none;
    margin-right: 10px;
    border-bottom: 8px solid #070505;}

header h1 {
	font-size: 25px;
    margin-right: 40px;
}

header nav ul {
    display: flex;
    align-items: center;
	list-style: none;
    font-size: 15px;
}

header nav ul li {
	display: inline-block;
	margin-right: 40px;
}

header nav ul li:last-child {
	margin-right: 40px;
}

header nav ul li a {
	color: black;
	text-decoration: none;
}

header nav ul li a:hover {
	text-decoration: underline;
}

body {
    padding-bottom: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    display: flex;
    justify-content: space-between;
    width: 99%;
    margin: 0 auto;
}

.projects {
    background-color: #f0f7f6;
    padding-left: 10px;
    justify-content: center;
    width: 25%;
    border: #16b9b9 2px solid;
    border-radius: 15px;   
}

.main {
    width: 65%;
    margin-right: 50px;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

input[type=number], select {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input#project-name {
    font-size: medium;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button[type=submit] {
    background-color: #16b9b9;
    color: white;
    font-size: large;
    padding: 13px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem;
}

button[type=submit]:hover {
    background-color: #0f8181;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 5px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #fff;
}

@media screen and (max-width: 600px) {
    footer {
        display: none;
    }
}


.myButton {
	background-color: #16b9b9;
	border-radius:15px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 32px;
	text-decoration:none;
}

.myButton2 {
    background-color:#102868;
    text-align: center;
	border-radius:15px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 20px;
	text-decoration:none;
}


body > div.container > div.projects > ul > li > div > a {
    color: #132957;
    text-decoration: none;
  }
  
  body > div.container > div.projects > ul > li:hover {
    color: #16b9b9;
    text-decoration: underline;
  }
  
  
  .projects ul li:hover {
    background-color: #b0dddd;
    border-radius: 4px;
    padding: 2px;
    margin: 2px;
  }
  
.projects ul li .delete-icon-image {
color: #020202;
width: 15px; height: auto;
}


.projects ul li:hover .delete-icon {
display: inline-block;
}

.confirmation-options {
    visibility: hidden;
  }
  
  .confirmation-options a {
    display: inline-block;
    margin-right: 5px;
  }


body > div.container > div.projects > ul > li> div {
display: flex;
justify-content: space-between;
margin-right: 5px;
}